body {
    font-family: 'Roboto', sans-serif;
}

/**********************************/

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: 13px auto 15px;
}

.header_ol {
    display: flex;
}

.header_li {
    margin: 0 62px 0 0;
}

.header_link {
    font-size: 14px;
    line-height: 14px;
    color: #1C1C1C;
    text-decoration: none;
}

.header_link:hover {
    color: #6F2DFF;
    font-size: 18px;
    transition: 1s;
}

.button {
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background-color: #6F2CFF;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.button:hover {
    background-color: #0011ff;
    transition: 1s;
    cursor: pointer;
    font-size: 16px;
}

.button:active {
    background-color: #F6BED9;
}

.main {
    background: #F6BED9;
    padding: 59px 0;
}

.main_title {
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}

.main_title:hover {
    font-size: 58px;
    color: #6F2DFF;
    transition: 1s;
}

.main_title-violate {
    color: #6F2DFF;
}

.main_text {
    font-size: 18px;
    line-height: 30px;
    max-width: 438px; 
    margin: 18px 0; 
}

.main_text-bold {
    font-weight: 700;
}

.main_input {
    width: 240px;
    height: 45px;
    border-radius: 28px;
    border: 1px solid #6F2CFF;
    padding-left: 26px;
}

.main_input::placeholder {
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.main_input:focus {
    outline: none;
}

.main_button {
    height: 45px;
    width: 187px;
    margin-left: 9px;
}

.grow {
    margin: 136px auto;
}

.grow_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #1C1C1C;
    max-width: 415px;
}

.grow_title:hover {
    color: #6F2CFF;
    font-size: 42px;
    transition: 1s;
}

.grow_flex {
    display: flex;
    gap: 34px;
}

.grow_element {
    max-width: 333px;
    text-align: center;
}

.grow_item {
    padding: 35px 0 85px 0;
    box-shadow: 0px 2px 4px rgb(117, 117, 117);
    border-radius: 0px 0px 10px 10px;
}

.grow_pretitle {
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 28px;
}

.grow_text {
    font-size: 18px;
    line-height: 22px;
    color: #6F2CFF;
    max-width: 219px;
    margin: 0 auto;
}

.commerce {
    margin-bottom: 136px;
    text-align: center;
}

.commerce_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin-top: 167px;
    margin-bottom: 79px;
}

.commerce_title:hover {
    transition: 1s;
    color: #6F2CFF;
    font-size: 45px;
}

.commerce_pretitle {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    margin: 42px 0 16px;
}

.commerce_text {
    font-size: 15px;
    line-height: 22px;
    max-width: 316px;
}

.footer {
    background-color: #20003C;
    padding: 58px 0;
}

.footer_ul {
    display: flex;
}

.footer_li {
    margin: 0 75px 0 0;
}

.footer_link {
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}

.footer_link:hover {
    color: #ff0000;
    font-size: 18px;
    transition: 1s;
}